<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.inout_nodeapp">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InOut_Nodeapp.NoActionBar"
        tools:targetApi="n">
        <activity android:name=".NewAccountActivity"></activity>
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_simpleAttendList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".APSettingActivity_IP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".APSettingActivity_general"
            android:screenOrientation="portrait" />
        <activity
            android:name=".APSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_AttendList"
            android:screenOrientation="portrait" />

        <service
            android:name=".MyService"
            android:description="@string/app_name"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".BackgroundService"
            android:description="@string/app_name"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".AutoRunReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.InOut_Nodeapp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>